.chat-main
  .chat-main-header
    .chat-main-header__leftbox
      %p
        = @group.name
      %p
        Member：
        - @group.users.each do |user|
          %span<>
            =user.name
    = link_to 'Edit',edit_group_path(params[:group_id])
  .chat-main-messages
    .chat-main-message
      = render @messages
  .chat-main-form<
    =form_for [@group, @message] do |f|
      .chat-form-box
        =f.text_field :content,id:"message",placeholder:"type a message"
        =f.label :image,class:"chat-form-box__image" do
          = icon('fas', 'image')
          = f.file_field :image
      =f.submit 'Send',class: :submit_send